// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html, body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   font-family: 'Roboto', sans-serif;
// }

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}



* {
  font-family: "Roboto",sans-serif;
  box-sizing:border-box;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}

.introSection {
  display: block;
  height: 200%;
  width: 100%;
  text-align: center;
  margin:  50px;
  color: rgb(8, 8, 100);
  margin-bottom: 10%;
}

.nav-btn {
  color: aliceblue;
}
.h1 {
  font-size: 500%;
  color: #0a2b5e;
}

.color {
  background-color: #033177;
  padding: 25px 40px 25px 40px;
}

.pad {
  margin-bottom: 4%;
}
.underline {
  text-decoration: underline;
  text-decoration-color: rgb(245, 210, 13);
}

.second-section {
  width: auto;
  height: auto;
  padding: 14% 25% 6% 25%;
  background-image: url("img/h1_hero1.png.webp");
  background-size: 100% 100%;
  margin-bottom: 5%;
}

.third-section p {
  color: rgb(48, 193, 241);
}

.third-section h2 {
  font-weight: bold;
  color: rgb(3, 3, 87);
}

.forthpart-p {
  padding-top: 10%;
  color: #5983ec;
}

.forthpart-h {
  color: #052a88;
}

.row2 {
  padding: 0% 5%;
  display: flex;
}
.card {
  margin: 1.5%;
  height: 140%;
  width: 70%;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}
.card h2 {
  font-size: 2vw;
  color : #0a2b5e;
  padding-top: 3%;
  padding-left: 4%;
}
.card h2 span {
  font-size: 2vw;
  color : #97bffc;
  margin-left: 25%;
}
.card h4 {
  font-size: 1vw;
  color : #0a2b5e;
  margin: 10% 2% 5% 10%;
}
.card h4 span {
  font-size: 1vw;
  color : #97bffc;
  margin-right: 10%;
}

.aboutSection {
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color: white;
}
.aboutSection .col1 {
  width: 50%;
  float: left;
  padding: 10% 10% 10% 15%;
}
.aboutSection .col2 {
  float: left;
  width: 50%;
  padding: 9%;
}
.aboutSection .col2 h1 {
  font-size: 400%;
  color: #052e6d;
}
.aboutSection .col2 p {
  font-size: 150%;
  line-height: 30px;
  margin: 10% 0%;
}
.aboutSection .col2 button {
  background-color: #ffca3d;
  color: white;
  padding: 15px;
  border-radius: 8px;
  border-width: 0;
}
.aboutSection p {
  color: #848390;
  text-align: justify;
}
.aboutSection h2 {
  text-align: left;
  color: #97bffc;
}
.videoSection img {
  width: 100%;
}
.videoSection .image {
  width: 100%;
  padding: 10% 10% 10% 10%;
}
.videoSection .video-icon {
  color: white;
  position: absolute;
  bottom:42%;
  left:45%;
  text-align: center;
  width:150px;
  text-decoration: none;

}
.videoSection .vid {
  position: relative;
  z-index: -1;
}
.videoSection .video-icon i {
  font-size: 4rem;
  display: block;
}

.fifth-section {
  padding: 7%;
  color: white;
  background-image: linear-gradient(to right, rgb(81, 102, 218) , rgb(236, 85, 229));
}

.sixth-section {
  padding: 10%;
}

.footerSection {
  width: 100%;
  background-color: #162757;
  color:#7387ba;
}
.footerSection .row1 {
  width: 100%;
  display: flex;
  padding: 0%;
  margin: 0%;
}
.footerSection .group1 {
  width: 40%;
  margin: 0%;
  padding: 0%;
  display: flex;
}
.footerSection .group1 img {
  display: flex;
  width: 50%;
}
.footerSection .group2 {
  width: 60%;
  display: flex;
}
.footerSection .group2 img {
  width: 33.5%;
}
.footerSection .row2 {
  width: 100%;
  background-color: #162757;
}
.footerSection .row2 .col1 {
  background-color: #162757;
  height: 500px;
  width: 35%;
  float: left;
  padding: 5%;
  overflow: hidden;
}
.footerSection .row2  p {
  font-size: 1.5rem;
  line-height: 160%;
  margin: 10% 0%;
}
.icons {
  overflow: hidden;
}
.icons a {
  color: white;
  font-size: 40%;
  padding: 2%;
}
.footerSection ul {
  list-style-type: none;
}
.footerSection ul li a {
  color: #7387ba;
  font-size: 1.5rem;
}
.footerSection .row2 h2 {
  color: white;
  text-align: left;
  margin: 5% 0%;
}
.footerSection .row2 h2 b {
  font-size: 1.5rem;
}
.footerSection .row2 .col2 {
  width: 20%;
  height: 500px;
  background-color: inherit;
  float: left;
  padding: 5% 0%;
}
.footerSection .row2 .col3 {
  width: 20%;
  height: 500px;
  background-color: inherit;
  display: inline;
  float: left;
  padding: 5% 0%;
}
.footerSection .row2 .col4 {
  width: 25%;
  height: 500px;
  background-color: inherit;
  float: left;
  padding: 5% 0%;
}
.footerSection .col4 h2 {
  margin-left: 0%;
}
.footerSection .col4 h3 {
  color: #ffca3d;
  font-size: 150%;
}
.footerSection .row3 {
  width: 100%;
}
.footerSection .row3 p {
  text-align: center;
  padding-bottom: 2%;
}
.footerSection .row3 span {
  color: #ffca3d;
}

@media (max-width:1570px) and (min-width:1101px) {
  .aboutSection .col1 img {
    padding: 0%;
    margin: 0%;
    float: right;
  }
  .aboutSection .col2 {
    padding: 3%;
  }
}

@media screen and (max-width: 1100px) {
  .h1 {
    font-size: 300%;
  }
  .secondry {
    display: none;
  }
  .primary{
    width: 100%;
    display: block;
    margin-left: 10%;
  }
  *{
    clear: both;
  }
  .card{
    margin-left: auto;
    width: 60%;
    // margin-right: auto;
    height: auto;
  }
  .card h2{
    font-size: 4vw;
  }
  .card h2 span{
    font-size: 4vw;
  }
  .row2{
    display:block;
  }
  .card h4{
    font-size: 2vw;
    margin-top: 0%;
    padding-bottom: 5%;
  }
  .card h4 span{
    font-size: 2vw;
  }
  .aboutSection .col1{
    width: 100%;

  }
  .aboutSection .col1 img{
    width: 50%;
    height: 50%;
    padding: 10% 10% 10% 8%;
  }
  .aboutSection .col2{
    padding: 0%;
    padding-bottom: 5%;
    justify-content: center;
  }
  .aboutSection .col2 h1{
    font-size: 300%;

  }
  .aboutSection .col1 img{
    width: 100%;
  }
  .headerSection .secondry{
    display: none;
  }

  .footerSection .row2 .col1{
    overflow: hidden;
  }

  .footerSection .row2{
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .footerSection .row2  p{
  text-align: justify;
  }
  .footerSection .row2 .col2{
  height: 30%;
  width: auto;
  }
  .footerSection .row2 .col3{
  height: 30%;
  width: auto;
  }
  .footerSection .row2 .col4{
  height: 30%;
  width: auto;
  }
  .footerSection .secondry{
    display: none;
  }
  .group2 img{
    display: none;
  }
  .group1{
    width: 100%;
  }
  .footerSection .row2 .col1{
    padding-left: 0px;

  }
  .footerSection .group1{
    width: 100%;
  }
}


@media screen and (max-width: 670px){
  .h1 {
    font-size: 200%;
  }
  .responsive-btn {
    padding: 5%;
  }
  .card {
    margin-left: 0%;
    width: 100%;
    margin-bottom: 7%;
  }
  .card h2 {
    font-size: 6vw;
  }
  .card h2 span {
    font-size: 8vw;
  }
  .card h4 {
    font-size: 4vw;
    color : #0a2b5e;
    margin: 10% 2% 5% 10%;
  }
  .card h4 span {
    font-size: 4vw;
    color : #97bffc;
    margin-right: 10%;
  }
  .aboutSection .col2 {
    width: 100%;
    margin: 5% 0;
    padding: 10%;
  }
  .videoSection .video-icon {
    color: white;
    position: absolute;
    bottom:10%;
    left:35%;
    text-align: center;
    width: auto;
    height: auto;
    text-decoration: none;
  }

  .footerSection .row2 {
    width: 100%;
    background-color: #162757;
  }
  .footerSection .row2 .col1 {
    background-color: #162757;
    height: 30%;
    width: 100%;
    float: left;
    overflow: hidden;
  }
  .footerSection .row2  p {
    font-size: 1.5rem;
    line-height: 160%;
    text-align: justify;
    padding-right: 15%;
    margin: 10% 0%;
  }
  .footerSection ul {
    list-style-type: none;
  }
  .footerSection ul li a {
    color: #7387ba;
    font-size: 1.5rem;
  }
  .footerSection .row2 h2 {
    color: white;
    text-align: left;
    margin: 5% 0%;
  }
  .footerSection .row2 h2 b {
    font-size: 1.5rem;
  }
  .footerSection .row2 .col2 {
    width: 100%;
    height: 30%;
    background-color: inherit;
    float: left;
    padding: 5% 0%;
  }
  .footerSection .row2 .col3 {
    width: 100%;
    height: 30%;
  }
  .footerSection .row2 .col4 {
    width: 100%;
    height: 30%;
    float: left;
  }
  .footerSection .col4 h2 {
    margin-left: 0%;
  }
  .footerSection .row3 {
    width: 100%;
  }
}

@media screen and (max-width:430px){
  .videoSection .video-icon{
    color: white;
    position: absolute;
    bottom: 30%;
    left:30%;
    text-align: center;
    width: auto;
    height: auto;
    text-decoration: none;

  }
}



.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.product-card {
  flex: 1 20%;
  text-align: center;
  margin-bottom: 25px;
}
.product-card img {
  margin-bottom: 15px;
}
@media only screen and (min-width:768px) and (max-width:991px) {
 .product-card {
     flex: 1 50%;
 }
}
@media only screen  and (max-width:767px) {
 .product-card {
     flex: 100%;
  }
}


// For Product the Show page

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 500px;
  height: 500px;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}



/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input {
  display: none;
}

.color-choose input label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

// .color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
//   background-color: #C91524;
// }
// .color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
//   background-color: #314780;
// }
// .color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
//   background-color: #323232;
// }

// .color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
//   background-image: url(images/check-icn.svg);
//   background-repeat: no-repeat;
//   background-position: center;
// }




/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  // content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}



/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}


/* Responsive */
@media (max-width: 940px) {
  .product-container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
