<% if alert %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <!--<%= notice %>-->
  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
 <!--
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<% end %>
<% if notice %>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <!--<%= flash %>-->
  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<!--
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>  -->
</div>
<% end %>
